Repository databricks/terraform-provider-databricks, pull requests merged in 2023-01, with the labels that each got.

#1897 Exporter: emit secret scopes from Spark Conf and Env Vars
  exporter/exporter_test.go
  exporter/importables.go
  exporter/test-data/get-dlt-pipeline.json
  exporter/util.go
Labels: exporter

#1895 Exporter: logging improvements
  exporter/importables.go
  exporter/util.go
Labels: exporter

#1892 Exporter: use `dbfs_path` as reference for init scripts in clusters instead of dbfs file ID
  exporter/importables.go
Labels: exporter

#1893 Exporter: add command-line flag to export all users and service principals
  docs/guides/experimental-exporter.md
  exporter/command.go
  exporter/context.go
  exporter/importables.go
Labels: exporter

#1894 Exporter: update list of supported services and associated resources
  docs/guides/experimental-exporter.md
Labels: exporter

#1890 Exporter: generate references that are matching only to a prefix
  exporter/context.go
  exporter/context_test.go
  exporter/exporter_test.go
  exporter/importables.go
  exporter/model.go
  exporter/test-data/get-dlt-pipeline.json
  exporter/util.go
  exporter/util_test.go
Labels: exporter

#1891 Exporter: fix issue with exporting of resources with simple name
  exporter/context.go
  exporter/importables.go
  exporter/importables_test.go
  exporter/util.go
Labels: exporter

#1905 Exporter: use `databricks_group_role` instead of deprecated `databricks_group_instance_profile`
  exporter/importables.go
  exporter/importables_test.go
Labels: exporter

#1816 Improve `databricks_group` documentation
  docs/resources/group.md
Labels: docs

#1928 Update directory.md
  docs/data-sources/directory.md
Labels: docs

#1965 Removed check for creation of Azure Key Vault-based `databricks_secret_scope` using Service Principals
  secrets/resource_secret_scope.go
  secrets/resource_secret_scope_test.go
Labels: ready-to-merge

#1957 add new node type selector to `databricks_node_type` data source
  clusters/data_node_type.go
  clusters/data_node_type_test.go
Labels: ready-to-merge

#1967 Added SQL example for `databricks_job` documentation
  docs/resources/job.md
Labels: ready-to-merge

#1970 Remove deprecated params from bucket
  scripts/awsmt-integration/data-security.tf
Labels: ready-to-merge
