Repository databricks/terraform-provider-databricks, pull requests merged in 2023-10, with the labels that each got.

#2606 add `databricks_system_schema` resource
  catalog/resource_system_schema.go
  catalog/resource_system_schema_test.go
  docs/resources/system_schema.md
  internal/acceptance/system_schema_test.go
  provider/provider.go
Labels: ready-to-merge

#2774 Exporter: fix a logic for omitting some fields
  exporter/importables.go
Labels: exporter

#2772 Clarify possible values for `principal` attribute of `databricks_secret_acl`
  docs/resources/secret_acl.md
Labels: docs

#2680 Exporter: improve exporting of `databricks_cluster_policy` resource
  docs/guides/experimental-exporter.md
  exporter/exporter_test.go
  exporter/importables.go
  exporter/importables_test.go
  exporter/test-data/get-cluster-policy.json
Labels: exporter

#2804 Fixed read method for `databricks_storage_credential` resource
  catalog/resource_metastore_data_access.go
  catalog/resource_metastore_data_access_test.go
  catalog/resource_storage_credential.go
Labels: ready-to-merge

#2785 Exporter: clarify behaviour of services not marked with listing
  docs/guides/experimental-exporter.md
Labels: docs, exporter

#2781 Documentation: correct grammar & rewording for better readability (part 1)
  docs/guides/aws-e2-firewall-hub-and-spoke.md
  docs/guides/aws-e2-firewall-workspace.md
  docs/guides/aws-private-link-workspace.md
  docs/guides/aws-workspace.md
  docs/guides/azure-private-link-workspace-simplified.md
  docs/guides/azure-private-link-workspace-standard.md
  docs/guides/azure-workspace.md
  docs/guides/experimental-exporter.md
  docs/guides/gcp-private-service-connect-workspace.md
  docs/guides/gcp-workspace.md
  docs/guides/passthrough-cluster-per-user.md
  docs/guides/troubleshooting.md
Labels: docs

#2836 Exporter: adjust generation & normalization of `databricks_job` names
  exporter/context.go
  exporter/importables.go
  exporter/importables_test.go
Labels: exporter

#2832 Exporter: fix generation of names for `databricks_library` resources
  exporter/context.go
  exporter/exporter_test.go
  exporter/importables.go
  exporter/importables_test.go
Labels: exporter

#2831 Exporter: Correctly handle not allowed characters in the notebooks/directories names
  exporter/context.go
  exporter/importables.go
  exporter/importables_test.go
Labels: exporter

#2834 Doc: put `empty_result_state` under `options` in the `databricks_sql_alert` resource
  docs/resources/sql_alert.md
Labels: docs

#2812 Changed CREATE_TABLE to CREATE_EXTERNAL_TABLE in docs for external storage locations
  docs/guides/unity-catalog-azure.md
  docs/guides/unity-catalog-gcp.md
  docs/guides/unity-catalog.md
  docs/resources/grants.md
  docs/resources/storage_credential.md
Labels: docs

#2699 Exporter: added support for exporting `databricks_access_control_rule_set` on account level
  docs/guides/experimental-exporter.md
  exporter/context.go
  exporter/importables.go
  exporter/model.go
Labels: exporter
