Repository databricks/terraform-provider-databricks, pull requests merged in 2024-03, with the labels that each got.

#3358 [DOCS] change master to main & GH image raw links
  CONTRIBUTING.md
  README.md
  docs/guides/aws-e2-firewall-hub-and-spoke.md
  docs/guides/aws-e2-firewall-workspace.md
  docs/guides/aws-private-link-workspace.md
  docs/guides/aws-workspace.md
  docs/guides/azure-private-link-workspace-simplified.md
  docs/guides/azure-private-link-workspace-standard.md
  docs/index.md
  docs/resources/mws_workspaces.md
  docs/resources/permissions.md
Labels: docs

#3356 Docs: fix broken links in metastore-related docs
  docs/resources/metastore_assignment.md
  docs/resources/metastore_data_access.md
Labels: docs

#3350 Docs: update documentation about databricks-managed service principals
  docs/resources/service_principal.md
Labels: docs

#3353 [DOC] Removing NOTEBOOK_FILE from databricks_share
  docs/resources/share.md
Labels: docs

#3387 Fix sending `scale_to_zero_enabled` for `served_entities` in `databricks_model_serving` resource
  serving/resource_model_serving.go
  serving/resource_model_serving_test.go
Labels: bug

#3390 Docs: Improve description of depends_on block
  docs/resources/job.md
Labels: docs

#3377 Exporter: add support for generation of dependencies between resources
  exporter/context.go
  exporter/context_test.go
  exporter/importables.go
  exporter/importables_test.go
  exporter/model.go
  exporter/util.go
Labels: exporter
